@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<LoadVantage.Core.Models.Load.LoadViewModel>

<table class="table datatable">
	<thead>
	<tr>
		<th>Origin</th>
		<th>State</th>
		<th>Destination</th>
		<th>State</th>
		<th>Pickup Time</th>
		<th>Delivery Time</th>
		<th>Distance</th>
		<th>Price</th>
		<th data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Rate per Mile">RPM</th>
		<th class="hidden-th">hidden</th>


	</tr>
	</thead>
	<tbody >
	@foreach (var load in Model)
	{
		<tr id="posted-load-@load.Id">
			<td>@load.OriginCity</td>
			<td>@load.OriginState</td>
			<td>@load.DestinationCity</td>
			<td>@load.DestinationState</td>
			<td>@load.PickupTime.ToString("dd/MM/yyyy HH:mm")</td>
			<td>@load.DeliveryTime.ToString("dd/MM/yyyy HH:mm")</td>
			<td>@(load.Distance.HasValue ? Math.Round(load.Distance.Value) : 0)</td>
			<td>@load.PostedPrice</td>
			<td>@($"${(load.PostedPrice / (decimal)load.Distance!):F2}")</td>
			<td>
				<form method="get" action="@Url.Action("LoadDetails", "Load")">
					<input type="hidden" name="loadId" value="@load.Id" />
					<button class="btn btn-warning view-button">
						<i class="ri-clipboard-line"></i>
						<span>View</span>
					</button>
				</form>
		</tr>
	}

	</tbody>
</table>


<script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>


<script>

	if (document.querySelector('.toggle-sidebar-btn')) {

		document.querySelector('.toggle-sidebar-btn').addEventListener('click', function (e) {

			document.body.classList.toggle('toggle-sidebar');
		});
	}

	function initializeDataTables(selector = '.datatable') {
		const datatables = document.querySelectorAll(selector);

		datatables.forEach(datatable => {
			new simpleDatatables.DataTable(datatable, {
				perPageSelect: [5, 10, 15, ["All", -1]],
				columns: [
					{
						select: 2,
						sortSequence: ["desc", "asc"]
					},
					{
						select: 3,
						sortSequence: ["desc"]
					},
					{
						select: 4,
						cellClass: "green",
						headerClass: "red"
					}
				]
			});
		});
	}

	initializeDataTables(); 

</script>


<!-- LET ME TAKE THE DOGS FOR A WALK ! 

			        __
				 o-''|\_____/)
				  \_/|_)     )
	/\	  WOOF !	 \  __  /
   /  \__	         (_/ (_/
  (    @@\____
  /         O
 /   (_____/
/_____/			WOOF ! 

-->

