@using Microsoft.AspNetCore.Mvc.TagHelpers
@using LoadVantage.Core.Models.Profile;

@model ProfileViewModel


<form id="updateProfileForm" asp-action="Profile" asp-controller="Profile" method="post">
	@Html.AntiForgeryToken()

	<input type="hidden" name="Position" value="@Model.Position" />
	<input type="hidden" name="Id" value="@Model.Id" />
	<input name="UserImage" type="hidden" class="form-control" id="userImage" value="@Model.UserImageUrl">

	<div class="row mb-3">
		<label for="firstNameProfile" class="col-md-4 col-lg-3 col-form-label">First Name</label>
		<div class="col-md-8 col-lg-9">
			<input name="FirstName" asp-for="FirstName" type="text" class="form-control" id="firstNameProfile" value="@Model.FirstName">
			<span asp-validation-for="FirstName" class="badge badge-danger mt-1"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label for="lastNameProfile" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
		<div class="col-md-8 col-lg-9">
			<input name="LastName" asp-for="LastName" type="text" class="form-control" id="lastNameProfile" value="@Model.LastName">
			<span asp-validation-for="LastName" class="badge badge-danger mt-1"></span>

		</div>
	</div>

	<div class="row mb-3">
		<label for="usernameProfile" class="col-md-4 col-lg-3 col-form-label">Username</label>
		<div class="col-md-8 col-lg-9">
			<input name="Username" asp-for="Username" type="text" class="form-control" id="usernameProfile" value="@Model.Username">
			<span asp-validation-for="Username" class="badge badge-danger mt-1"></span>

		</div>
	</div>


	<div class="row mb-3">
		<label for="companyNameProfile" class="col-md-4 col-lg-3 col-form-label">Company</label>
		<div class="col-md-8 col-lg-9">
			<input name="CompanyName" asp-for="CompanyName" type="text" class="form-control" id="companyNameProfile" value="@Model.CompanyName">
			<span asp-validation-for="CompanyName" class="badge badge-danger mt-1"></span>

		</div>
	</div>

	<div class="row mb-3">
		<label for="phoneNumberProfile" class="col-md-4 col-lg-3 col-form-label">Phone</label>
		<div class="col-md-8 col-lg-9">
			<input name="PhoneNumber" asp-for="PhoneNumber" type="text" class="form-control" id="phoneNumberProfile" value="@Model.PhoneNumber">
			<span asp-validation-for="PhoneNumber" class="badge badge-danger mt-1"></span>

		</div>
	</div>

	<div class="row mb-3">
		<label for="emailProfile" class="col-md-4 col-lg-3 col-form-label">Email</label>
		<div class="col-md-8 col-lg-9">
			<input name="Email" asp-for="Email" type="email" class="form-control" id="emailProfile" value="@Model.Email">
			<span asp-validation-for="Email" class="badge badge-danger mt-1"></span>

		</div>
	</div>

	<div class="text-center">

		<button id="saveChangesBtn" type="submit" form="updateProfileForm" class="btn btn-outline-primary" id="saveProfileButton">
			<span >Save Changes</span>
		</button>

	</div>

</form>

<div class="text-center">
		
	<form asp-action="RefreshEditProfile" asp-controller="Profile" method="get" id="refreshProfile">
		<button id="refreshProfileoButton" class="btn btn-outline-info">
			<span><i class="bx bx-refresh"></i></span>
		</button>
	</form>

</div>

