@using Microsoft.AspNetCore.Mvc.TagHelpers
@using LoadVantage.Core.Models.Profile;
@using LoadVantage.Extensions
@model ProfileViewModel


<form id="updateProfileForm" asp-action="Profile" asp-controller="Profile" method="post">
	@Html.AntiForgeryToken()

	<input type="hidden" name="Position" value="@Model.Position" />
	<input type="hidden" name="Id" value="@Model.Id" />
	<input name="UserImage" type="hidden" class="form-control" id="userImage" value="@Model.UserImageUrl">

	<div class="row mb-3">
		<label for="firstNameProfile" class="col-md-4 col-lg-3 col-form-label">First Name</label>
		<div class="col-md-8 col-lg-9">
			<input name="FirstName" type="text" class="form-control" id="firstNameProfile" value="@Model.FirstName">
			<span asp-validation-for="FirstName" class="badge badge-danger mt-1"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label for="lastNameProfile" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
		<div class="col-md-8 col-lg-9">
			<input name="LastName" type="text" class="form-control" id="lastNameProfile" value="@Model.LastName">
			<span asp-validation-for="LastName" class="badge badge-danger mt-1"></span>

		</div>
	</div>

	<div class="row mb-3">
		<label for="usernameProfile" class="col-md-4 col-lg-3 col-form-label">Username</label>
		<div class="col-md-8 col-lg-9">
			<input name="Username" type="text" class="form-control" id="usernameProfile" value="@Model.Username">
			<span asp-validation-for="Username" class="badge badge-danger mt-1"></span>

		</div>
	</div>


	<div class="row mb-3">
		<label for="companyNameProfile" class="col-md-4 col-lg-3 col-form-label">Company</label>
		<div class="col-md-8 col-lg-9">
			<input name="CompanyName" type="text" class="form-control" id="companyNameProfile" value="@Model.CompanyName">
			<span asp-validation-for="CompanyName" class="badge badge-danger mt-1"></span>

		</div>
	</div>

	<div class="row mb-3">
		<label for="phoneNumberProfile" class="col-md-4 col-lg-3 col-form-label">Phone</label>
		<div class="col-md-8 col-lg-9">
			<input name="PhoneNumber" type="text" class="form-control" id="phoneNumberProfile" value="@Model.PhoneNumber">
			<span asp-validation-for="PhoneNumber" class="badge badge-danger mt-1"></span>

		</div>
	</div>

	<div class="row mb-3">
		<label for="emailProfile" class="col-md-4 col-lg-3 col-form-label">Email</label>
		<div class="col-md-8 col-lg-9">
			<input name="Email" type="email" class="form-control" id="emailProfile" value="@Model.Email">
			<span asp-validation-for="Email" class="badge badge-danger mt-1"></span>

		</div>
	</div>

	<div class="text-center">

		<button type="submit" form="updateProfileForm" class="btn btn-outline-primary" id="saveProfileButton">
			<span >Save Changes</span>
		</button>

	</div>

</form>

<div class="text-center">
		
	<form asp-action="RefreshEditProfile" asp-controller="Profile" method="get" id="refreshProfile">
		<button id="refreshProfileoButton" class="btn btn-outline-info">
			<span><i class="bx  bx-refresh"></i></span>
		</button>
	</form>

</div>

<!-- Vendor JS Files -->
<script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/chart.js/chart.umd.js"></script>
<script src="~/assets/vendor/echarts/echarts.min.js"></script>
<script src="~/assets/vendor/quill/quill.js"></script>
<script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/assets/js/main.js"></script>
<script src="~/js/site.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!-- jQuery Validation -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const uploadImageButton = document.getElementById("uploadImageButton");
		const fileInput = document.getElementById("fileInput");
		const submitButton = document.getElementById("submitButton");

		submitButton.style.display = 'none';

		if (uploadImageButton && fileInput && submitButton) {

			uploadImageButton.addEventListener("click", function (event) {
				event.preventDefault();
				fileInput.click();
			});

			fileInput.addEventListener("change", function () {
				if (fileInput.files.length > 0) {
					submitButton.style.display = 'inline-block';  
				} else {
					submitButton.style.display = 'none'; 
				}
			});
		}
	});

	$("#updateProfileForm").submit(function (event) {
		if (!$(this).valid()) {
			event.preventDefault();
		}
	});

</script>
