@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using LoadVantage.Core.Models.Profile
@using LoadVantage.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoadVantage.Core.Models.Load.LoadViewModel;

@{
    ViewData["Title"] = "Create a Load";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";

    var tempDataSuccessMessage = TempData.GetSuccessMessage();
    var tempDataErrorMessage = TempData.GetErrorMessage();

}

<!-- ======= Header ======= -->

@await Html.PartialAsync("_HeaderPartialView", new ProfileViewModel())

<!-- End Header -->


<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <form method="get" action="@Url.Action("LoadBoard", "Broker")">
                <input type="hidden" name="brokerId" value="@Model.BrokerId" />
                <button type="submit" class="nav-link collapsed" id="loadboard-nav">
                    <i class="ri-truck-line"></i>
                    <span>LoadBoard</span>
                </button>
            </form>
        </li>
        <li class="nav-item">
	        <form method="get" action="@Url.Action("Profile", "Broker")">
		        <input type="hidden" name="brokerId" value="@Model.BrokerId" />
		        <button type="submit" class="nav-link collapsed" id="profile-nav">
			        <i class="ri-account-pin-box-line"></i>
			        <span>Profile</span>
		        </button>
	        </form>
        </li>
        <li class="nav-item">
            <form method="get" action="@Url.Action("CreateLoad", "Broker")">
		        <input type="hidden" name="brokerId" value="@Model.BrokerId"/>
		        <button type="submit" class="nav-link" id="create-load-nav">
			        <i class="ri-treasure-map-line"></i>
			        <span>Create a load</span>
		        </button>
	        </form>
        </li>

    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Create a load</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="Profile">Broker</a></li>
                <li class="breadcrumb-item active">Add Load</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


    <div class="card">
	    <div class="card-body justify-content-center">
		    <h5 class="card-title">Creating a load</h5>

		    @if (!string.IsNullOrEmpty(tempDataSuccessMessage))
		    {
			    <div class="badge badge-danger mt-1 d-flex justify-content-center" id="success-message">@tempDataSuccessMessage</div>
		    }

		    @if (!string.IsNullOrEmpty(tempDataErrorMessage))
		    {
			    <div class="badge badge-danger mt-1 d-flex justify-content-center" id="error-message">@tempDataErrorMessage</div>
		    }
			
		    <div class="spinner-container">
                <div id="loader" class="spinner" style="display: none;">
		                    
				    <div></div>
				    <div></div>
				    <div></div>
				    <div></div>
				    <div></div>
				    <div></div>

			    </div>
		    </div>

            <form method="post" action="@Url.Action("CreateLoad", "Broker")" class="row g-3" onsubmit="showLoader()">
			    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
			    <input type="hidden" name="brokerId" value="@Model.BrokerId"/>

			    <div class="col-12 d-flex justify-content-center mb-2" style="margin-bottom: -0.5rem !important;">
				    <span asp-validation-for="OriginState" class="badge badge-danger mb-1" style="margin-right: 15em;"></span> <!-- Validation message above the input -->

				    <span asp-validation-for="DestinationState" class="badge badge-danger mb-1" style="margin-right: -17em;"></span> <!-- Validation message above the input -->
			    </div>

			    <div class="col-12 d-flex justify-content-center mb-2">
				    <div class="d-flex centered-row flex-wrap justify-content-center">
					    <div class="col-md-3">
						    @Html.AntiForgeryToken()
						    <div class="form-floating">
							    <input type="text" asp-for="OriginCity" class="form-control" id="originCity" aria-required="true" placeholder="Origin City" required>
							    <label for="originCity">Origin City</label>
                                <span asp-validation-for="OriginCity" class="badge badge-danger mt-1"></span>
						    </div>
					    </div>
					    <div class="col-md-1">
						    <div class="form-floating">
							    <input type="text" asp-for="OriginState" class="form-control" id="originState" placeholder="State" required>
							    <label for="originState">State</label>
						    </div>
					    </div>
					    <div class="col-md-3">
						    <div class="form-floating">
							    <input type="text" asp-for="DestinationCity" class="form-control" id="destinationCity" placeholder="Origin City" required>
							    <label for="destinationCity">Destination City</label>
                                <span asp-validation-for="DestinationCity" class="badge badge-danger mt-1"></span>

						    </div>
					    </div>
					    <div class="col-md-1">
						    <div class="form-floating">
							    <input type="text" asp-for="DestinationState" class="form-control" id="destinationState" placeholder="State" required>
							    <label for="destinationState">State</label>
						    </div>
					    </div>
				    </div>
				    
			    </div>

			    <div class="col-12 d-flex justify-content-center mb-2">
				    <div class="d-flex centered-row flex-wrap justify-content-center">
					    <div class="col-md-5">
						    <div class="form-floating">
                                <input type="datetime-local" asp-for="PickupTime" class="form-control" id="pickupTime" placeholder="Pickup Time" value="@DateTime.Today.ToString("yyyy-MM-ddTHH:mm")" required>
							    <label for="pickupTime">Pickup Time</label>
                                <span asp-validation-for="PickupTime" class="badge badge-danger mt-1"></span>

						    </div>
					    </div>
					    <div class="col-md-5">
						    <div class="form-floating">
                                <input type="datetime-local" asp-for="DeliveryTime" class="form-control" id="deliveryTime" placeholder="Delivery Time" value="@DateTime.Today.ToString("yyyy-MM-ddTHH:mm")" required>
							    <label for="deliveryTime">Delivery Time</label>
                                <span asp-validation-for="DeliveryTime" class="badge badge-danger mt-1"></span>

						    </div>
					    </div>
				    </div>
			    </div>

			    <div class="col-12 d-flex justify-content-center mb-2">
				    <div class="d-flex centered-row flex-wrap justify-content-center">
					    <div class="col-md-3">
						    <div class="form-floating">
                                <input type="number" step="0.01" asp-for="PostedPrice" class="form-control" id="postedPrice" placeholder="Price" value="1" required>
                                <label for="postedPrice">Price</label>
                                <span asp-validation-for="PostedPrice" class="badge badge-danger mt-1"></span>
						    </div>
					    </div>
					    <div class="col-md-3">
						    <div class="form-floating">
                                <input type="number" step="0.01" asp-for="Weight" class="form-control" id="weight" placeholder="Weight" value="1" required>
							    <label for="weight">Weight in lbs</label>
                                <span asp-validation-for="Weight" class="badge badge-danger mt-1"></span>

						    </div>
					    </div>
				    </div>
			    </div>

                <div class="text-center d-grid gap-2 d-md-block create-load-buttons-container">
                    <button type="submit" id="createLoadButton" class="btn btn-outline-success" id="create-load-btn">Create Load</button>
                    <button type="reset" id="resetFormButton" class="btn btn-outline-secondary">Reset</button>

                   
			    </div>
		    </form> <!-- End Form -->

	    </div>
    </div>

</main><!-- End #main -->

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<script>

    function showLoader() {

        document.getElementById("create-load-btn").disabled = true;
        document.getElementById("loader").style.display = "inline-block";

        setTimeout(() => {
            hideLoader();
        }, 4000); 
    }

    function hideLoader() {

        document.getElementById("create-load-btn").disabled = false;
        document.getElementById("loader").style.display = "none";
    }


</script>

