@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using LoadVantage.Common.Enums
@using LoadVantage.Core.Models.Load;
@using LoadVantage.Extensions
@using LoadVantage.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static LoadVantage.Common.ValidationConstants.LoadValidations
@model LoadViewModel

@{
    ViewData["Title"] = "Broker LoadBoard";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";

    var firstName = User.FindFirst("FirstName")?.Value;
    var lastName = User.FindFirst("LastName")?.Value;
    var position = User.FindFirst("Position")?.Value;

    var isEditing = TempData["isEditing"] as bool? ?? false;

	var tempDataSuccessMessage = TempData.GetSuccessMessage();
	var tempDataErrorMessage = TempData.GetErrorMessage();
	var tempDataActiveTab = TempData.GetActiveTab();

}


<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
	    <a asp-route="/Broker/Profile" class="logo d-flex align-items-center">
            <img src="~/assets/img/loadVantage.png" alt="LoadVantage Logo">
@*             <span class="d-none d-lg-block">LoadVantage</span>
 *@        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="~/assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="~/assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="~/assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

	            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
		            <img src="~/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">@firstName![0].@lastName</span>
	            </a><!-- End Profile Iamge Icon -->

	            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
		            <li class="dropdown-header">
			            <h6>@firstName @lastName</h6>
                        <span>@position</span>
		            </li>
		            <li>
			            <hr class="dropdown-divider">
		            </li>

                    <li>
                        <form method="get" action="@Url.Action("Profile", "Broker")">
                            <input type="hidden" name="brokerId" value="@Model.BrokerId" />
                            <button type="submit" class="dropdown-item d-flex align-items-center">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </button>
                        </form>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <form method="get" action="@Url.Action("Logout", "Account")">
                            <input type="hidden" name="brokerId" value="@Model.BrokerId" />
                            <button type="submit" class="dropdown-item d-flex align-items-center">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </button>
                        </form>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">

            <form method="get" action="@Url.Action("LoadBoard", "Broker")">
                <input type="hidden" name="brokerId" value="@Model.BrokerId" />
                <button type="submit" class="nav-link" id="loadboard-nav">
                    <i class="ri-truck-line"></i>
                    <span>LoadBoard</span>
                </button>
            </form>


        </li><!-- End Dashboard Nav -->

        <li class="nav-item">


	        <form method="get" action="@Url.Action("Profile", "Broker")">
		        <input type="hidden" name="brokerId" value="@Model.BrokerId" />
		        <button type="submit" class="nav-link collapsed" id="profile-nav">
			        <i class="ri-account-pin-box-line"></i>
			        <span>Profile</span>
		        </button>
	        </form>

        </li>

        <li class="nav-item">
	 

	        <form method="get" action="@Url.Action("CreateLoad", "Broker")">
		        <input type="hidden" name="brokerId" value="@Model.BrokerId" />
                <button type="submit" class="nav-link collapsed" id="create-load-nav">
	                <i class="ri-treasure-map-line"></i>
			        <span>Create a load</span>
		        </button>
	        </form>

        </li>
        <!-- End Profile Page Nav -->

    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

	<div class="pagetitle">
		<h1>Load</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="Profile">Broker</a></li>
                <li class="breadcrumb-item"><a href="LoadBoard">LoadBoard</a></li>
				<li class="breadcrumb-item active">Load</li>
			</ol>
		</nav>
	</div><!-- End Page Title -->
	
	
	<div class="card">
			@{
				LoadStatus status = Enum.TryParse(typeof(LoadStatus), Model.Status, out var parsedStatus) 
					? (LoadStatus)parsedStatus : LoadStatus.Created;

				switch (status)
				{
					case LoadStatus.Created:
						<div class="load-status badge bg-primary">
							<i class="bi bi-star me-1"></i> @Model.Status
						</div>
						break;
					case LoadStatus.Available:
						<div class="load-status badge bg-success">
							<i class="bi bi-check-circle me-1"></i> Available
						</div>
						break;
					case LoadStatus.Booked:
						<div class="load-status badge bg-warning">
							<i class="bi bi-bookmark me-1"></i> Booked
						</div>
						break;
					case LoadStatus.Delivered:
						<div class="load-status badge bg-info">
							<i class="bi bi-truck me-1"></i> Delivered
						</div>
						break;
					case LoadStatus.Cancelled:
						<div class="load-status badge bg-danger">
							<i class="bi bi-x-circle me-1"></i> Cancelled
						</div>
						break;
				}
			}
			<div class="card-body justify-content-center" style="dispay:flex;">
				<h5 class="card-title">Viewing a load</h5>

			@if (!string.IsNullOrEmpty(tempDataSuccessMessage))
			{
				<div class="badge badge-danger mt-1 d-flex justify-content-center" id="success-message">@tempDataSuccessMessage</div>
			}

			@if (!string.IsNullOrEmpty(tempDataErrorMessage))
			{
				<div class="badge badge-danger mt-1 d-flex justify-content-center" id="error-message">@tempDataErrorMessage</div>
			}

				<div class="spinner-container">
					<div id="loader" class="spinner" style="display: none;">

						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>

					</div>
				</div>

				<form id="loadDetailsForm" asp-action="EditLoad" asp-controller="Broker" method="post" class="row g-3" onsubmit="showLoader()">
					<input type="hidden" name="brokerId" value="@Model.BrokerId"/>
					<input type="hidden" name="loadId" value="@Model.Id"/>
					<input type="hidden" id="isEditing" name="isEditing" value="false"/>
					@Html.AntiForgeryToken()
					
					<div class="col-12 d-flex justify-content-center mb-2" style="margin-bottom: -0.5rem !important;">
						<span asp-validation-for="OriginState" class="badge badge-danger mb-1" style="margin-right: 15em;"></span> <!-- Validation message for the ORIGIN STATE above the input -->

						<span asp-validation-for="DestinationState" class="badge badge-danger mb-1" style="margin-right: -17em;"></span> <!-- Validation message for the DESTINATION STATE above the input -->
					</div>


					<div class="col-12 d-flex justify-content-center mb-2">
						<div class="d-flex centered-row flex-wrap justify-content-center">
							<div class="col-md-3">
								<div class="form-floating">
									<input type="hidden" asp-for="Id"/>
									<input type="text" class="form-control" id="originCity" placeholder="Origin City" name="OriginCity" value="@Model.OriginCity" @(isEditing ? "" : "disabled")/>
									<label for="originCity">Origin City</label>
									<span asp-validation-for="OriginCity" class="badge badge-danger mt-1"></span>

								</div>
							</div>
							<div class="col-md-1">
								<div class="form-floating">
									<input type="text" class="form-control" id="originState" placeholder="State" name="OriginState" value="@Model.OriginState" @(isEditing ? "" : "disabled")/>
									<label for="originState">State</label>
								</div>

							</div>
							<div class="col-md-3">
								<div class="form-floating">
									<input type="text" class="form-control" id="destinationCity" placeholder="Origin City" name="DestinationCity" value="@Model.DestinationCity" @(isEditing ? "" : "disabled")/>
									<label for="destinationCity">Destination City</label>
									<span asp-validation-for="DestinationCity" class="badge badge-danger mt-1"></span>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-floating">
									<input type="text" class="form-control" id="destinationState" placeholder="State" name="DestinationState" value="@Model.DestinationState" @(isEditing ? "" : "disabled")/>
									<label for="destinationState">State</label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 d-flex justify-content-center mb-2">
						<div class="d-flex centered-row flex-wrap justify-content-center">
							<div class="col-md-5">
								<div class="form-floating">
									<input type="text" class="form-control" id="pickupTime" placeholder="Pickup Time" name="PickupTime" value="@Model.PickupTime.ToString("dd/MM/yyyy HH:mm")" @(isEditing ? "" : "disabled")/>
									<label for="pickupTime">Pickup Time</label>
								<span asp-validation-for="PickupTime" class="badge badge-danger mt-1"></span>
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-floating">
									<input type="text" class="form-control" id="deliveryTime" placeholder="Delivery Time" name="DeliveryTime" value="@Model.DeliveryTime.ToString("dd/MM/yyyy HH:mm")" @(isEditing ? "" : "disabled")/>
									<label for="deliveryTime">Delivery Time</label>
								<span asp-validation-for="DeliveryTime" class="badge badge-danger mt-1"></span>

								</div>
							</div>
						</div>
					</div>

					<div class="col-12 d-flex justify-content-center mb-2">
						<div class="d-flex centered-row flex-wrap justify-content-center">
							<div class="col-md-3">
								<div class="form-floating">
									<input type="text" class="form-control" id="price" placeholder="Price" name="PostedPrice" value="@Model.PostedPrice" @(isEditing ? "" : "disabled")/>
									<label for="price">Price</label>
								<span asp-validation-for="PostedPrice" class="badge badge-danger mt-1"></span>

								</div>
							</div>
							<div class="col-md-3">
								<div class="form-floating">
									<input type="text" class="form-control" id="weight" placeholder="Weight" name="Weight" value="@Model.Weight" @(isEditing ? "" : "disabled") />
									<label for="weight">Weight in lbs</label>
								<span asp-validation-for="Weight" class="badge badge-danger mt-1"></span>

								</div>
							</div>
						</div>
					</div>

					<div class="text-center details-buttons-container gap-2 d-md-block">
						<button type="button" id="editLoadButton" class="btn btn-primary" onclick="enableFields()">
							<i class="ri-edit-box-line"></i> Edit
						</button>

						<button type="submit" id="saveLoadButton" class="btn btn-success" style="display: none;">
							<i class="bx bxs-save"></i> Save
						</button>

						<button type="button" id="cancelEditingButton" onclick="dissableFieldsAndtoggleButtons()" class="btn btn-secondary" style="display: none;">
							<i class="bx bx-arrow-back"></i> Cancel
						</button>

					</div>
				</form>
				<div class="text-center details-buttons-container">
					@{
						switch (status)
						{
							case LoadStatus.Created:
								<form asp-action="PostALoad" asp-controller="Broker" method="post" id="postLoadForm">
									@Html.AntiForgeryToken()
									<input type="hidden" name="loadId" value="@Model.Id"/>
									<button type="submit" class="btn btn-outline-warning" id="postLoadBtn">
										<i class="ri-file-list-line"></i> Post
									</button>
								</form>
								break;
							case LoadStatus.Available:
	                            <form asp-action="UnpostALoad" asp-controller="Broker" method="post" id="postLoadForm">
	                                @Html.AntiForgeryToken()
	                                <input type="hidden" name="loadId" value="@Model.Id" />
	                                <button type="submit" class="btn btn-outline-warning" id="postLoadBtn">
	                                    <i class="ri-file-list-line"></i> Unpost
	                                </button>
	                            </form>
								break;
							// case LoadStatus.Booked:
							// 	<div class="load-status badge bg-warning">
							// 		<i class="bi bi-bookmark me-1"></i> Booked
							// 	</div>
							// 	break;
							// case LoadStatus.Delivered:
							// 	<div class="load-status badge bg-info">
							// 		<i class="bi bi-truck me-1"></i> Delivered
							// 	</div>
							// 	break;
							// case LoadStatus.Cancelled:
							// 	<div class="load-status badge bg-danger">
							// 		<i class="bi bi-x-circle me-1"></i> Cancelled
							// 	</div>
							// 	break;
						}
					}

					<form asp-action="CancelLoad" asp-controller="Broker" method="post" id="cancelLoadButton">
						@Html.AntiForgeryToken()
						<input type="hidden" name="loadId" value="@Model.Id"/>
						<button type="submit" class="btn btn-outline-danger" onclick="return confirmCancel();" id="cancelLoadBtn">
							<i class="bx bxs-x-circle"></i> Cancel Load
						</button>
					</form>

					<form asp-action="ReturnToLoadBoard" asp-controller="Broker" method="post" id="backToLoadBoardButton">
						@Html.AntiForgeryToken()
						<button type="submit" class="btn btn-outline-info">
							<i class="bx bxs-dashboard"></i> Back to LoadBoard
						</button>
					</form>
					
					<form asp-action="LoadDetails" asp-controller="Broker" method="get" id="refreshLoadForm">
						<input type="hidden" name="loadId" value="@Model.Id" />
						<button  id="refreshLoadInfoButton" class="btn btn-outline-info" style="display: none;">
							<i class="bx  bx-refresh"></i>
							<span>Refresh Load Info</span>
						</button>
					</form>
				</div>
			</div>
		</div>


</main><!-- End #main -->

<script>
	
	document.addEventListener("DOMContentLoaded", function () {
		var activeTab = "@tempDataActiveTab";
			if (activeTab === "posted") { 
				var postedTabButton = document.getElementById("pills-posted-tab");
				if (postedTabButton) {
					new bootstrap.Tab(postedTabButton).show();
				}
			} else {
				var createdTabButton = document.getElementById("pills-created-tab"); // fallback to created tab 
				if (createdTabButton) {
					new bootstrap.Tab(createdTabButton).show();
				}
			}
		});

</script>

