@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@using LoadVantage.Core.Models.Profile
@using LoadVantage.Extensions
@using LoadVantage.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<User> UserManager
@model ProfileViewModel

@{
    ViewData["Title"] = "Broker Profile";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";

    var user = await User.GetUserAsync(UserManager);

    var tempDataSuccessMessage = TempData.GetSuccessMessage();
    var tempDataErrorMessage = TempData.GetErrorMessage();
    var tempDataActiveTab = TempData.GetActiveTab();

}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a asp-route="/Broker/Profile" class="logo d-flex align-items-center">
            <img src="~/assets/img/loadVantage.png" alt="LoadVantage Logo">
@*             <span class="d-none d-lg-block">LoadVantage</span>
 *@        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="~/assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="~/assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="~/assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="~/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">@user.FirstName[0].@user.LastName</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>@user.FullName</h6>
                        <span>@user.Position</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>

	                    <form method="get" action="@Url.Action("Profile", "Broker")">
                            <input type="hidden" name="brokerId" value="@user.Id" />
		                    <button type="submit" class="dropdown-item d-flex align-items-center">
			                    <i class="bi bi-person"></i>
			                    <span>My Profile</span>
		                    </button>
	                    </form>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
	                    <form method="get" action="@Url.Action("Logout", "Account")">
                            <input type="hidden" name="brokerId" value="@user.Id" />
		                    <button type="submit" class="dropdown-item d-flex align-items-center">
			                    <i class="bi bi-box-arrow-right"></i>
			                    <span>Sign Out</span>
		                    </button>
	                    </form>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

		
    <li class="nav-item">

        <form method="get" action="@Url.Action("LoadBoard", "Broker")">
                <input type="hidden" name="brokerId" value="@user.Id" />
		    <button type="submit" class="nav-link collapsed" id="loadboard-nav">
			    <i class="ri-truck-line"></i>
			    <span>LoadBoard</span>
		    </button>
	    </form>


    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
	 

	    <form method="get" action="@Url.Action("Profile", "Broker")">
                <input type="hidden" name="brokerId" value="@user.Id" />
		    <button type="submit" class="nav-link" id="profile-nav">
			    <i class="ri-account-pin-box-line"></i>
			    <span>Profile</span>
		    </button>
	    </form>

    </li>
    
    <li class="nav-item">
	 

	    <form method="get" action="@Url.Action("CreateLoad", "Broker")">
                <input type="hidden" name="brokerId" value="@user.Id" />
                <button type="submit" class="nav-link collapsed" id="create-load-nav">
	                <i class="ri-treasure-map-line"></i>
			    <span>Create a load</span>
		    </button>
	    </form>

    </li>
    <!-- End Profile Page Nav -->


    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Broker</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="~/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <h2>@user.FullName</h2>
                        <h3>@user.Position at @user.CompanyName</h3>
                        <div class="social-links mt-2">
                            
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

	                        <li class="nav-item">
		                        <button class="nav-link active" data-bs-toggle="tab" id="profile-overview-tab" href="#profile-overview" data-bs-target="#profile-overview">Overview</button>
	                        </li>
                            
	                        <li class="nav-item">
	                            @if (Model.Id == null)
		                        {
				                      
			                        <form asp-action="GoToEditProfileTab" asp-controller="Broker" method="post">
				                        @Html.AntiForgeryToken()
				                        <input type="hidden" name="brokerId" value="@Model.Id"/>
				                        <button type="submit" class="nav-link" data-bs-toggle="tab" id="profile-edit-tab" href="#profile-edit" data-bs-target="#profile-edit">
					                        Edit Profile
				                        </button>
			                        </form>
			                       
		                        }
	                            else
	                            {
		                            <button class="nav-link" data-bs-toggle="tab" id="profile-edit-tab"  href="#profile-edit" data-bs-target="#profile-edit">Edit Profile</button>
	                            }
	                        </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" id="profile-change-password-tab" href="#profile-change-password" data-bs-target="#profile-change-password">Change Password</button>
                            </li>

                        </ul>
						<div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                      
                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Full Name</div>
                                    <div class="col-lg-9 col-md-8">@user.FullName</div>
                                </div>

                                <div class="row">
	                                <div class="col-lg-3 col-md-4 label">Company</div>
                                    <div class="col-lg-9 col-md-8">@user.CompanyName</div>
                                </div>

                                <div class="row">
	                                <div class="col-lg-3 col-md-4 label">Position</div>
                                    <div class="col-lg-9 col-md-8">@user.Position</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Username</div>
                                    <div class="col-lg-9 col-md-8">@user.UserName</div>
                                </div>
								
                                <div class="row">
	                                <div class="col-lg-3 col-md-4 label">Phone Number</div>
                                    <div class="col-lg-9 col-md-8">@user.PhoneNumber</div>
                                </div>

                                <div class="row">
	                                <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">@user.Email.ToLower()</div>
                                </div>

                                @if (!string.IsNullOrEmpty(tempDataSuccessMessage))
                                {
                                    <div class="badge badge-danger mt-1 d-flex justify-content-center" id="success-message">@tempDataSuccessMessage</div>
                                }

                                @if (!string.IsNullOrEmpty(tempDataErrorMessage))
                                {
                                    <div class="badge badge-danger mt-1 d-flex justify-content-center" id="error-message">@tempDataErrorMessage</div>
                                }

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

	                            @Html.Partial("_EditProfilePartialView", Model)
							
                            </div>
							
                            <div class="tab-pane fade pt-3" id="profile-change-password">

	                            @Html.Partial("_ChangePasswordPartialView", new ChangePasswordViewModel())

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<script>

    document.addEventListener("DOMContentLoaded", function () {
        var activeTab = "@tempDataActiveTab";  

        if (activeTab === "changePassword") {
            var changePasswordTabLink = document.getElementById('profile-change-password-tab');
            if (changePasswordTabLink) {
                new bootstrap.Tab(changePasswordTabLink).show();
                console.log("redirected to the password change!");
            }
        } else if (activeTab === "profileEdit") {
            var editProfileTabLink = document.getElementById('profile-edit-tab');
            if (editProfileTabLink) {
                new bootstrap.Tab(editProfileTabLink).show();
                console.log("redirected to the profile edit!");
            }
        } else {
            var overviewTabLink = document.getElementById('profile-overview-tab'); // fall back to the profile overview tab
            if (overviewTabLink) {
                new bootstrap.Tab(overviewTabLink).show();
                console.log("redirected to the profile overview!");

            }
        }
    });

    // Debugging purposes only
    $(document).ready(function () {
        console.log("jQuery is loaded!");
    });

</script>